table.basic-event { table-layout: fixed; }
table.basic-event tbody tr td { padding: 4px; }
table.basic-event td.instance { width: 10%; }
table.basic-event td.value { width: 31%; }
table.basic-event td.vcc { width: 15%; }
table.basic-event td.sampleTime { width: 15%; }
table.basic-event td.timestamp { width: 16%; }
table.basic-event td.clear { width: 13%; text-align: center; }

h2 {
    display: inline-block;
}

select.brokerSelect {
    float: right;
    margin-top: 30px;
    width: auto;
}
